<li class="task clearfix" data-task-id="<%= task.id %>">
  <text class="<%= task_classes(task) %>"> <%= task.description %></text>

  <form class="btn delete" action="/tasks/<%= task.id %>" method="post">
    <input type="hidden" name="_method" value="delete">
    <button type="submit">Delete</button>
  </form>

  <form class = "btn complete"action="/tasks/<%= task.id %>/complete" method="post">
    <input type="hidden" name="_method" value="put">
    <button type="submit">Complete</button>

  </form>
  

  <a class="edit" href="/tasks/<%= task.id %>/edit">Edit</a>

</li>